
.home-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}
.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 220px;
  overflow-y: auto;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.title-group {
  display: flex;
  flex-direction: column;
}
.group-name {
  font-size: 16px;
  color: #666;
  margin-top: -10px;
}
.header h1 {
  font-size: 25px;
  color: #333;
}
.week-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

}
.week-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.date-range {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.type.Четная {
  font-size: 12px;
  font-weight: 600;
  color: #f0f0f0;
  background-color: #030213;
  padding: 4px 8px;
  border-radius: 10px;
  margin-top: 4px;
}
.type.Нечетная {
  font-size: 12px;
  font-weight: 600;
  color: #030213;
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 10px;
  margin-top: 4px;
}
.week-selector button {
  padding: 5px 13px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
}

.today-container {
  position: relative;
}

.today-button {
  position: absolute;
  font-size: 14px;
  padding: 9px 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  right: 0;
  bottom: 30px;
}

.week-selector button:hover {
  background-color: #f0f0f0;
}
.today-button:hover {
  background-color: #f0f0f0;
}
.day-block {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
}
.day-block h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}
.lesson-block {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #f0f0f0;
}
.time-type {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.time-circle {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
}
.type {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}
.type.lecture {
  color: oklch(.424 .199 265.638);
  background-color: oklch(.932 .032 255.585);
}
.type.lab {
  color: oklch(.448 .119 151.328);
  background-color: oklch(.962 .044 156.743);
}
.subject {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
.teacher-room {
  font-size: 13px;
  color: #666;
}
.logo-placeholder {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
}
.room-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 7px;
}

.logo-topage {
  width: 10px;
  height: 10px;
}
