.sidebar {
  width: 220px;
  background-color: #f2f1f1;
  padding: 15px 0;
  border-right: 1px solid #eee;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar li {
  margin-bottom: 7px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.sidebar a:hover {
  background-color: #ebe9e9;
}

.sidebar a.active {
  font-weight: bold;
  background-color: #ebe9e9;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  object-fit: contain;
}

.logout-button {
  background-color: #fff;
  border: 1px solid #ddd; 
  border-radius: 20px; 
  text-align: left;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 8px 40px;
  width: auto;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px auto 30px 36px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
  background-color: #f0f0f0;
}

.logout-icon {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  object-fit: contain;
}